*{
    padding: 0;
    margin: 0;
    font-family: system-ui, sans-serif;
}

.box-component-container{
    margin: 24px;
    gap: 24px;
    display: flex;
    height: 100vh;
    align-items: center;
}

.component-box{
    padding: 24px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    max-width: 800px;
    height: fit-content;
    color: #1e1e1e;
}

.box-main{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.box-right-main{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.box-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}

.box-right h4{
    font-size: 24px;
    font-weight: 500;
}

.box-right p{
    font-size: 14px;
    font-weight: 300;
}

.placeholder-pic{
    width: 96px;
    height: 96px;
}

.profile-pic{
    width: 16px;
    height: 16px;
    border-radius: 24px;
}

.author-main{
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 8px;
}

.author-main p{
    font-size: 12px;
}

.box-content-bottom{
    font-size: 14px;
    font-weight: 400;
}

.social-stats{
    font-size: 12px;
    font-weight: 300;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 1024px) {
    .box-component-container{
        flex-direction: column;
        justify-content: center;
    }

}